# Other possibly useful aliases
# https://gist.github.com/pksunkara/988716
# https://github.com/servo/servo/wiki/Github-workflow#git-tips
# Other diff/merge tools
# https://stackoverflow.com/questions/572237/whats-the-best-three-way-merge-tool
[alias]
  au = add --update
  bd = branch --delete
  br = branch
  ca = commit --amend
  can = commit --amend --no-edit
  cm = commit --message
  co = checkout
  cp = cherry-pick
  dt = difftool
  dtk = difftool --tool=kdiff3
  dth = difftool --tool-help
  dump = cat-file -p
  fp = fetch --prune
  fu = fetch upstream
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lg = log --oneline --graph --decorate
  ls = log --oneline
  mt = mergetool
  pf = push --force-with-lease
  pum = pull upstream main
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase --interactive
  rim = rebase --interactive origin/main
  rsh = reset --soft HEAD~
  sl = stash list
  ss = stash save
  st = status
  type = cat-file -t
  visual = !gitk
[cola]
  spellcheck = false
[core]
  editor = nvim
[diff]
  tool = meld
[difftool]
  prompt = true
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[github]
  user = jackdbd
[http]
  cookiefile = /home/jack/.gitcookies
[merge]
  tool = meld
[mergetool]
  prompt = true
[user]
  email = jackdebidda@gmail.com
  name = Giacomo Debidda
  username = jackdbd
[web]
  browser = chromium-browser
[color]
	ui = auto
