[alias]
  au = add -u
  bd = branch -d
  co = checkout
  cm = commit --m
  ca = commit --amend
  can = commit --amend --no-edit
  st = status
  br = branch
  ls = log --oneline
  dt = difftool --gui --dir-diff
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  visual = !gitk
[user]
  email = jackdebidda@gmail.com
  name = jackdbd
[core]
  editor = vim
[http]
	cookiefile = /home/giacomo/.gitcookies
[cola]
	spellcheck = false
