# Clojure linter/static analyzer
.clj-kondo/

# Language Server Protocol
.lsp/

# Clojure Portal
.portal/

# Ignore all files in Visual Studio Code config directory, except for
# VS Code extensions, keybindings and settings
Code/.config/*
!Code/.config/Code/User/extensions.json
!Code/.config/Code/User/keybindings.json
!Code/.config/Code/User/settings.json

# gitk config (gitk rewrites its config file every time it is launched)
git/.config/git/gitk

# Tmux plugins (installed by Tmux Plugin Manager)
tmux/.config/tmux/plugins
